body{
background-color:#ffffff;
color:#606040;
font-size: 0.8em;
margin: 20px 10px;

font-family:IPAGothic;
}
select{
margin:3px 3px;
}
#word{
margin:5px 5px;
}

a{/*リンクされた文字*/
    color:#a0a000;
    font-style:normal;
    text-decoration:underline;
}


a:visited {/*訪問後のリンク*/
    color:#00a000;
    text-decoration:underline;
}


a:hover {/*マウスをのせたとき*/
    color:#00a000;
    font-style:normal;
    text-decoration:underline;
{